*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tag Selectors */
body{
  color: #fff;
  font-family: "montserrat","cursive";
}

header h1{
  font-size: 1.7rem;
  margin: 50px 20px 20px 20px;
  font-weight: bold;
}


/* Class Selectors */
.container-fluid{
  min-height: 100vh;
}

.contact-info{
  font-family: 'Poppins', sans-serif;
  margin-top: 30px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-info a{
  color: #fff;
  text-decoration: none;
}

.info-box{
  text-align: center;
  border: 1px solid #fff;
  border-radius: 20px;
  box-shadow: 0 0 20px 5px #fff;
  margin: 30px 20px;
  padding: 10px;
}

.info-box:hover{
  animation-name: throb;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

@keyframes throb {
  10%{box-shadow: 0 0 20px 10px #fff;}
  20%{box-shadow: 0 0 20px 13px #fff;}
  30%{box-shadow: 0 0 20px 16px #fff;}
  40%{box-shadow: 0 0 20px 13px #fff;}
  50%{box-shadow: 0 0 20px 10px #fff;}
  60%{box-shadow: 0 0 20px 13px #fff;}
  70%{box-shadow: 0 0 20px 16px #fff;}
  80%{box-shadow: 0 0 20px 13px #fff;}
  90%{box-shadow: 0 0 20px 10px #fff;}
  100%{box-shadow: 0 0 20px 5px #fff;}
}

.info-box > .contact-icon {
  margin: 15px auto;
  padding: 10px;

  border-top-style: none;
  border-bottom-style: solid;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-left-style: none;
  border-right-style: none;
  border-color: rgba(245, 7, 94, 1) !important;
  border-width: 8px;
  width: 25%;
}

.info-box > h4 {
  font-size: 1rem;
  padding: 10px;
}

/* -------------------------------------------------------------------------- */
.social-media-handles{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.handle{
  margin: 30px;
}

.icon{
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 26px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 750ms;
}

.icon:hover{
  outline-offset: 4px;
}

.icon:hover i{
  animation: shake 1000ms;
}

.icon-facebook:hover{
  background-color: #3b5998;
  outline-color: #3b5998;
  color: #fff;
}

.icon-instagram:hover{
  background-image: radial-gradient(circle at 36% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 69%, #285aeb 90%);
  outline-color: #a82d76;
}

.icon-twitter:hover{
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

.icon-linkedin:hover{
  background-color: #0072b1;
  outline-color: #0677a5;
  color: #fff;
}

.icon-github:hover{
  background-color: #2ea44f;
  outline-color: #2ea44f;
}

@keyframes shake {
  10%{transform: rotate(15deg);}
  20%{transform: rotate(-15deg);}
  30%{transform: rotate(15deg);}
  40%{transform: rotate(-15deg);}
}
