{% extends 'core/base.html' %}
{% load static %}

{% block corecss %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href=" {% static 'core/css/home.css' %} " />
{% endblock corecss %}

{% block content %}
  <div>
    <div class="profile-pic">
      <img class="groove" src="{% static 'core/images/debanjan_sarkar_pp.png' %}" alt="Darkolexis Profile Picture" height="250px" width="250px">
    </div>
    <div class="intro-description">
      <h1>Hello,</h1>
      <p>
        I am <span class="text-warning emph">Debanjan Sarkar</span>, a student 👦, currently pursuing BTech in Electronics and Communication Engineering. I love to code 💻 and design beautiful websites, and in this field I am still growing day-by-day 💗
      </p>
      <p>
        I am an aspiring developer. I have good level knowledge in <span class="text-warning emph">C</span>, <span class="text-warning emph">C++</span>, <span class="text-warning emph">Python</span>, <span class="text-warning emph">HTML</span>, <span class="text-warning emph">CSS</span>, <span class="text-warning emph">MySQL</span>, <span class="text-warning emph">Git & GitHub</span>, <span class="text-warning emph">Logical Programming</span> and <span class="text-warning emph">Data Structures and Algorithms</span>. I have beginner level knowledge of Cybersecurity, and I have attended Cyber Security Summer Internship at Gurugram Police, 2021. I am inclined towards back-end web development, and currently I am exploring the Django framework, and wish to learn FastAPI in the near future.
      </p>
      <!-- <p>
        I have intermediate level of expertise in C, and I am coding in C language since 2 years now. I make custom libraries in C, and use them for competitive programming in C. It is one of my favourite languages.
      </p>
      <p>
        Its over a year I am learning and using python language, and I have done some minor projects using it, some of which I have posted on github. I prefer this language for back-end web development, and looking forward to learn the Django framework of back-end web development.
      </p> -->
    </div>
    <div class="text-center">
      <div style="display: inline-block;" >
        <a href="{% static 'cv/Resume(updated)- Debanjan Sarkar.pdf' %}" class="btn btn-outline-warning mt-3 mb-5 mx-4">Resume</a>
      </div>
      <div style="display: inline-block;" >
        <a href="{% url 'contact' %}" class="btn btn-outline-info mt-3 mb-5 mx-4">Contact</a>
      </div>
    </div>
  </div>
{% endblock content %}
