/* Tag Selectors */
body{
  color: #fff;
  font-family: 'montserrat','cursive';
}

header h1{
  font-size: 1.7rem;
  margin: 50px 20px 20px 20px;
  font-weight: bold;
}

table{
  margin: 80px auto;
  border-collapse: collapse;
  border-spacing: 0;
  /* width: 100%; */
  /* border: 1px solid #fff; */
  border-radius: 20px;
}

tr:first-child{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

th{
  text-align: center;
  padding: 30px 25px;
  /* border: 2px solid #614124; */
  font-size: 1.3rem;

  background-color: #570A57;
}

td{
  text-align: center;
  padding: 20px 25px;
  /* border: 1px solid #614124; */
  font-size: 1rem;

  background-color: #A91079;

}

/* Class Selectors */
.container-fluid{
  min-height: 100vh;
}

.edu-container{
  border-radius: 20px;
  overflow-x: auto;
}

.corner-tl{
  border-top-left-radius: 20px;
}

.corner-tr{
  border-top-right-radius: 20px;
}

.corner-bl{
  border-bottom-left-radius: 20px;
}

.corner-br{
  border-bottom-right-radius: 20px;
}
