* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tag Selectors */
body{
  color: #fff;
  font-family: "montserrat","cursive";
}

header h1{
  font-size: 1.7rem;
  margin: 50px 20px 20px 20px;
  font-weight: bold;
}

/* Class Selectors */
.skills-container{
  margin: 30px 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-box{
  border: 1px solid #fff;
  border-radius: 10px;
  text-align: center;
  padding: 1.25rem;
  margin: 25px;
  box-shadow: 0 0 5px #03e9f4, 0 0 10px #03e9f4, 0 0 15px #03e9f4, 0 0 20px #03e9f4;

  flex-basis: 20%;
  flex-shrink: 1;

  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.skill-box:hover{
  transform: scale(1.1);
  box-shadow: 0 0 5px #03e9f4, 0 0 12px #03e9f4, 0 0 16px #03e9f4, 0 0 22px #03e9f4;
}

.skill-box > img{
  width: 50%;
}

.skill-box .skill-title{
  margin-top: 20px;
}

.progress{
  margin-top: 15px;
}

.progress-bar{
  height: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px ) {

  .skills-container{
    justify-content: space-around;
  }

  .skill-box{
    margin: 35px 10px;

    flex-basis: 30%;
    min-width: 33%;
    max-width: 33%;
  }

}

@media screen and (max-width: 600px ) {

  .skill-box{
    margin: 30px 5px;

    flex-basis: 50%;
    min-width: 40%;
    max-width: 50%;
  }

}
